.carousel-item {
    height: 500px;
    width: 800px;
    margin-left: 185px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.carousel-inner {
    margin-top: 78px;
}

.carousel-control-prev {
    margin-left: 160px;
}

.carousel-control-next {
    margin-right: 170px;
}